<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kingdon.dao.StudentDao" >
  <resultMap id="student" type="student" autoMapping="true">
    <collection property="teachers" javaType="teacher" ofType="teacher"/>
  </resultMap>

  <select id="getById"
          resultMap="student"
          parameterType="int">
        SELECT * FROM student where id = #{id}
   </select>

  <select id="getByIdWithMap"
          resultType="student"
          parameterType="int">
        SELECT * FROM student where id = #{id}
   </select>
</mapper>
